@using Microsoft.Ajax.Utilities
@model ISManagement.ViewModels.AccountTransactions

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Account Details</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.Person.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Person.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account.Person.surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Person.surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account.account_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.account_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.outstanding_balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.outstanding_balance)
        </dd>
    </dl>
</div>

<h3>Transactions List</h3>
<p>
    @Html.ActionLink("New Transaction", "Create", new { controller = "Transactions", action = "Create", id = Model.Account.Id }, new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered table-hover">
    <tr>
        <th>
            Description
        </th>
        <th>
            Amount
        </th>
        <th>
            Transaction Date
        </th>
        <th>
            Capture Date
        </th>
        <th>
            Transaction Details
        </th>
    </tr>

    @foreach (var item in Model.Transactions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.transaction_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.capture_date)
            </td>
            <td>
                @Html.ActionLink("View Details", "Details", new { controller = "Transactions", action = "Details", id = item.Id })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Account.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
