@using Microsoft.Ajax.Utilities
@model ISManagement.ViewModels.AccountTransactions

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Account Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.Person.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Person.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account.Person.surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Person.surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account.account_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.account_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.outstanding_balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.outstanding_balance)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Account.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
