@model ISManagement.Models.Account

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.account_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.outstanding_balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.outstanding_balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
